{% extends "layout.html" %}
{% load static %}
{% block content %}


    {% if form != None %}

        <br><h2 align="center">Загрузите свои файлы и укажите ячейки для сбора информации</h2><br>
        <div>
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <h4 align="center"><b>Шаг 1. Загрузите файлы, значения из которых необходимо свести в единый реестр:</b></h4>
                {#            {{ form.as_p}}#}
                <div id="sub_bt2">
                    <p align="center" class="bord">
                        {{ form.file }}
                    </p>
                </div>
                <br>
                <div align="center" id="first_blc">
                    <h4 align="center"><b>Шаг 2. Укажите адрес ячейки с подписями для будущих строк</b></h4>
                    <div class="twoblock">

                        <div class="twoblock_paren">

                            <div class="child">
                                <img src="{% static "app/content/Form0_1.png" %}" alt="Example of exl file 0_1" height="150">
                            </div>

                            <div class="child">

                                <div align="center">

                                    {{ form.column_comment.label }}
                                    <br>
                                    {{ form.column_comment }}
                                </div>
                                <br>

                                <div align="center">
                                    {{ form.row_comment.label }}
                                    <br>
                                    {{ form.row_comment }}
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>

                <div class="twoblock">
                    <div id="second_blc" hidden>
                        <h4 align="center"><b>Шаг 3. Укажите адрес ячейки со значениями</b></h4>

                        <div class="twoblock_paren">
                            <div class="child">
                                <img src="{% static "app/content/Form0_2.png" %}" alt="Example of exl file 0_2" height="150">
                            </div>
                            <div class="child">

                                <div align="center">
                                    {{ form.column_value.label }}
                                    <br>
                                    {{ form.column_value }}
                                </div>
                                <br>

                                <div align="center">
                                    {{ form.row_value.label }}
                                    <br>
                                    {{ form.row_value }}
                                </div>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>

                <div align="center">
                    <br>
                    <br>
                    <div id="wait" hidden>
                        <img src="{% static "app/content/wait.gif" %}" alt="whaiting gif" height="100">
                    </div>
                    <p id="sub_bt" hidden>
                        <input id='subbt0' type="submit" class="btn btn-primary btn-lg" value="Отправить"/>
                    </p>
                    <p id="hlp">
                    </p>
                </div>
            </form>
            <div align="center">
                <button class="btn btn-secondary btn-lg" id="next_btn">Далее</button>
            </div>
            <div id="back_btn" align="center" hidden>

                <button class="btn btn-secondary btn-sm" id="back">Назад</button>
            </div>

        </div>
        <br>
        <hr/>
        <h2 align="center">Инструкция</h2>
        <div class="instruction">
            <div class="instr_text">
                <br>
                <br>
                <br>
                <p>
                    В данном разделе Вы можете объединить значения из сотни и даже тысячи однотипных excel-файлов в единый реестр
                </p>
                <p>
                    Шаг 1. Загрузите файлы, информацию из которых необходимо объединить. Это могут быть файлы с расширением .xls или .xlsx.
                    Также вы можете отправить файлы в одном архиве (.zip, .rar, .7z)
                </p>
                <p>
                    Шаг 2. Выберите название столбца и номер строки ячейки, которая будет использована в качестве подписи значения
                    из файла в итоговом реестре, например ФИО сотрудника.
                    Кроме данной подписи в итоговом реестре будут указаны имена файлов, откуда было использовано значение
                </p>
                <p>
                    Шаг 3. Выберите название столбца и номер строки ячейки, которая будет использована в качестве источника для значений
                    в итоговом реестре
                </p>
                <p>
                    Шаг 4. Нажмите кнопку Отправить. Ожидайте объединения файлов. Итоговый реестр будет скачан автоматически
                </p>
            </div>
            <div class="instr_pic">
                <img src="{% static "app/content/Form0_4.png" %}" alt="Resulting image for instruction" height="400">
            </div>

        </div>
        <br>
        <br>
        <div align="center">
            <p>Скачайте пример файлов, загрузите их через форму и увидите результат</p>
            <div id="sub_bt3">
                <a href="{% url 'send_example' form_num=0 %}" class="btn btn-primary btn-sm">Скачать пример</a>
            </div>
        </div>
    {% endif %}
    <script>
        function next_click() {
            $("#second_blc").show('slow');
            $("#first_blc").hide('fast');
            $("#next_btn").hide();
            {#$("#next2").show();#}
            $("#sub_bt").show('fast');
            $("#back_btn").show('fast');
        }

        $('#next_btn').click(next_click);


        function back_click() {
            $("#second_blc").hide('fast');
            $("#first_blc").show('slow');
            $("#back_btn").hide();
            $("#next_btn").show('fast');
            {#$("#next").hide('fast');#}
            $("#sub_bt").hide();
        }

        $('#back').click(back_click)

    </script>
{% endblock %}
