{% extends "layout.html" %}
{% load static %}
{% block content %}


    {% if form != None %}

        <br><h2 align="center">Загрузите файлы с реестрами для переноса значений в один единый файл</h2><br>
        <div>
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}

                {#            {{ form.as_p}}#}
                <div id="sub_bt2">
                    <h4 align="center"><b>Шаг 1. Загрузите реестры, значения из которых нужно разместить рядом по столбцам </b></h4>
                    <p align="center" class="bord">
                        {{ form.file }}
                    </p>
                </div>
                <br>
                <div id="first_blc">
                    <h4 align="center"><b>Шаг 2. Укажите столбец с подписями для будущего реестра</b></h4>

                    <div class="twoblock">
                        <div class="twoblock_paren">
                            <div class="child1">
                                <img src="{% static "app/content/Form1_col1.png" %}" alt="Example of exl file 2_1" height="350">
                            </div>
                            <div class="child1">
                                <div align="center">
                                    {{ form.column_comment_reg.label }}
                                    <br>
                                    <br>
                                    {{ form.column_comment_reg }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="second_blc" hidden>
                    <h4 align="center"><b>Шаг 3. Укажите столбец, откуда будут копироваться значения в итоговый реестр</b></h4>
                    <div class="twoblock">
                        <div class="twoblock_paren">
                            <div class="child1">
                                <img src="{% static "app/content/Form2_2.png" %}" alt="Example of exl file 2_2" height="350">
                            </div>
                            <div class="child1">
                                <div align="center">
                                    {{ form.column_value_reg.label }}
                                    <br>
                                    <br>
                                    {{ form.column_value_reg }}
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


                <div align="center">
                    <br>
                    <div id="wait" hidden>
                        <img src="{% static "app/content/wait.gif" %}" alt="whaiting gif" height="100">
                    </div>
                    <p id="sub_bt" hidden>
                        <input id='subbt0' type="submit" class="btn btn-primary btn-lg" value="Отправить"/>
                    </p>
                    <p id="hlp">
                    </p>
                </div>
            </form>
            <div align="center">
                <button class="btn btn-secondary btn-lg" id="next_btn">Далее</button>
            </div>
            <div id="back_btn2-1" align="center" hidden>

                <button class="btn btn-secondary btn-sm" id="back">Назад</button>
            </div>
        </div>
        <br>
        <hr/>
        <h2 align="center">Инструкция</h2>
        <div class="instruction">
            <div class="instr_text">

                <p>
                    В данном разделе Вы можете загрузить реестры для объединения в один.
                </p>
                <p>
                    Шаг 1. Загрузите файлы реестров, которые необходимо объединить в один
                    Это могут быть файлы с расширением .xls, .xlsx., либо один архив с excel-файлами (.zip, .rar или .7z)
                </p>
                <p>
                    Шаг 2. Выберите номер столбца, содержащий подписи из реестров
                </p>
                <p>
                    Шаг 3. Выберите номер столбца со значениями, которые будут добавляться из каждого файла в итоговый реестр
                </p>
                <p>
                    Шаг 4. Нажмите кнопку Отправить, дождитесь загрузки и обработки файлов.
                    Итоговый файл будут скачаны автоматически
                </p>
            </div>
            <div class="instr_pic">
                <img src="{% static "app/content/Form2_4.png" %}" alt="Resulting image for instruction2" height="250">
            </div>

        </div>
        <br>
        <br>
        <div align="center">
            <p>Скачайте пример файлов, загрузите их через форму наверху и увидете результат</p>
            <div id="sub_bt3">
                <a href="{% url 'send_example' form_num=2 %}" class="btn btn-primary btn-sm">Скачать пример</a>
            </div>

        </div>
    {% endif %}
    <script>
        function next_click() {
            $("#second_blc").show('slow');
            $("#first_blc").hide('fast');
            $("#next_btn").hide();
            {#$("#next2").show();#}
            $("#sub_bt").show('fast');
            $("#back_btn2-1").show('fast');
        }

        $('#next_btn').click(next_click);


        function back_click() {
            $("#second_blc").hide('fast');
            $("#first_blc").show('slow');
            $("#back_btn2-1").hide();
            $("#next_btn").show('fast');
            {#$("#next").hide('fast');#}
            $("#sub_bt").hide();
        }

        $('#back').click(back_click)

    </script>
{% endblock %}
