{% extends "layout.html" %}

{% block content %}

    <div class="jumbotron">
        <h1>Make Excel</h1>
        <p class="lead">Обрабатывать сотни и тысячи Excel-файлов легко!</p>

    </div>

    <div class="row">
        <div >
            <h2>Выбери вариант обработки Excel-файла, который тебе необходим:</h2>
            <p>
                Можешь совершить операции сложения, вычитания, деления и умножения строк и/или столбцов  среди большого количества файлов-исходдников и записать
                результат в один файл
            </p>

        </div>


{% endblock %}
