<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Make Excel</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}"/>
    <script src="{% static 'app/scripts/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/jquery-1.10.2.js' %}"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="{% static 'app/content/logoMEX_burned.png' %}" alt="logo" width="60" height="40"/> </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a>|</a></li>
                <li><a href="{% url 'form0' %}">Файлы в реестр</a></li>
                <li><a href="{% url 'form1' %}">Реестр в файлы</a></li>
                <li><a href="{% url 'form2' %}">Файлы в реестр по столбцам</a></li>
                
            </ul>
        </div>
    </div>
</div>

<div class="container body-content">
    {% block content %}{% endblock %}
    <hr/>
    <footer>
        <p>&copy; {{ year }} - MEX || Make Excel </p>
        <a href='https://pngtree.com/so/алфавит'>Изображения с pngtree.com</a>
    </footer>
</div>

<script src="{% static 'app/scripts/bootstrap.js' %}"></script>
<script src="{% static 'app/scripts/respond.js' %}"></script>

{% block scripts %}
    <script type="text/javascript">
        function b1_click() {
            $('#hlp').html('<b>Идет обработка файлов. Ожидайте, пока результат не будет скачан автоматически</b>');
            $('#sub_bt').hide();
            $('#sub_bt2').hide('slow');
            $('#sub_bt3').hide('slow');
            $('#wait').show('fast');
            $("#back_btn").hide();
            $("#back_btn2").hide();
            $("#back_btn2-1").hide();

            function dly() {
                $.ajax({
                    type: "GET",
                    url: "test_ajax",
                    data: "",
                    dataType: "text",
                    cach: false,
                    success: function (data) {
                        if (data == 'READY') {
                            $('#hlp').fadeOut()
                            $('#sub_bt').show('fast')
                            $('#sub_bt2').show('fast')
                            $('#sub_bt3').show('fast')
                            $('#wait').hide('fast');
                            $("#back_btn2").show('fast');
                            $("#back_btn2-1").show('fast');
                            clearInterval(timer)
                        }
                    }
                });
            }

            var timer = window.setInterval(dly, 1000);
        }

        $('#subbt0').click(b1_click)

    </script>

{% endblock %}

</body>
</html>
