{% extends "layout.html" %}
{% load static %}
{% block content %}
    <br>
    <div align="center">
        <h2>Неверный формат файлов</h2>
        <br>
        <div>

        </div>
        <div align="left">
            <p>К сожалению, мы не можем обработать присланные вами файлы</p>
            <p>Обратите внимание, что excel-файлы должны быть с раширением .xls или .xlsx</p>
            <p>Также excel-файлы можно прислать одним архивом в формате .zip, .rar или .7z</p>
            <p>В архиве должны содержаться только обрабатываемые excel-файлы</p>
            <p>Не доспускается одновременная отправка и архива и excel файлов, а также одновременная отправка нескольких архивов</p>
        </div>
        <br>
        <a href="javascript:history.go(-1)" class="btn btn-primary btn-lg">Вернуться к форме</a>
    </div>
{% endblock %}